<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <runtime>
        <dependentAssembly>
            <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
            <bindingRedirect oldVersion="6.0.0.0-11.0.2.0" newVersion="12.0.3" />
        </dependentAssembly>
    </runtime>
</configuration>