<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxMin" version="5.14.5506.26202" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.2-beta1" targetFramework="net45" />
  <package id="NuGet.CommandLine" version="3.4.4-rtm-final" targetFramework="net45" developmentDependency="true" />
</packages>